## Zabbix Proxy
# CLIENT_ID=e0853bf0-9874-439c-b80d-11111111111
# CLIENT_SECRET=ec00fa65027376f5aa5311111111111
# ZBX_SERVER_HOST=172.20.0.2

## LARK ALERT
LARK_WEBHOOK_URL=https://open.feishu.cn/open-apis/bot/v2/hook/xxxx-xxxx-xx-xxxx

## SSL IP
HOSTNAME=127.0.0.1